parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # 忽略一些 Guzzle 相关的类型检查
        - '#Call to an undefined method GuzzleHttp\\ClientInterface::#'
        - '#Parameter .* of method .* expects .*, GuzzleHttp\\Exception\\GuzzleException given#'
